.header{
    display: flex;
    justify-content: end;
    gap: 8px;
    background-color: #0F1724;
    border: 1px solid #2F3441;
    border-top: none;
    border-left: none;
    padding: 10px;
}

.runCode:disabled{
    color: white;
}

.override{
    background-color: #0a0f19;
}