.header{
    display: flex;
    justify-content: end;
    gap: 8px;
    background-color: #fafafa;
    border: 1px solid #c9c9c9;
    border-top: none;
    border-left: none;
    padding: 10px;
}

.runCode:disabled{
    color: #333;
}

.override{
    background-color: #0a0f19;
}