.mainLayout {
    background: #FDFDFD;
    height: 100%;
}

.layoutHeader {
    padding: 0 20px 0 0px;
    border-bottom: 1px solid rgba(5, 5, 5, 0.06);
    background: #FDFDFD;
    display: flex;
    align-items: center;
    width: 100%;
}
.layoutContent {
    background: #FDFDFD;
    padding: 36px; 
}
.mainMenu{
    height: calc(100% - 80px);
    border-inline-end: 1px solid rgba(5, 5, 5, 0.06);
}
.search{
    height: 32px;
}
.avatar{
    height: 40px;
    width: 40px;
    min-width: 40px;
    border-radius: 50%;
    background-color: #404040;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    cursor: pointer;
}
.searchAvatarWrapper{
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}
.logo, .logoCollapsed{
    width: calc(100% - 20px);
    height: max-content;
    
    border-radius: 8px;
    margin-bottom: -18px;
    margin-top: -10px;
    margin-left: 10px;
    margin-right: 10px;
    img{
        width: 100%;
        height: 100%;
    }
}

.logoCollapsed{
    margin-top: 10px;
    margin-bottom: 0px;
}



// styles.module.scss

.avatar {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    margin-right: 0px;
    position: relative;
  }
  
  .block {
    position: absolute;
    top: 50px; // Adjust as needed
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
    overflow: hidden;
  }
  
  .block button {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    text-align: left;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .block button:hover {
    background-color: #f0f0f0;
  }
