.wrapper {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    height: 100%;
    .description {
        background-color: white;
    }
}

body:has(.wrapper){
    overscroll-behavior: none;
}

