
.descriptionBlock {
    border-left: 1px solid #2A2F36;
    position: relative;
    background-color: #0F1723;
  
    .content {
        padding: 16px;
    }

    .finishButton {
      position: absolute;
      top: 8px;
      right: 8px;
    }
  
    .title {
      font-size: 18px;
      margin-bottom: 8px;
      color: #fff;
    }
  
    .description {
      margin-bottom: 16px;
      color: #f0f0f0;
    }
  
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #0F1724; 
        text-align: left;
        border-radius: 0px;
        :global(.ant-collapse){
            border-radius: 0px !important;
            border: 1px solid #2E3440 !important;
        }
        :global(.ant-collapse-content-box){
            background-color: #0F1724;
        }
        :global(.ant-collapse-content){
            border: 1px solid #2E3440 !important;
        }
        .panel {
            background-color: #0F1724; 
            border-radius: 0px !important;

            :global(.ant-collapse-expand-icon){
                color: rgb(191, 191, 191);
            }

            :global(.ant-collapse-header-text) {
                color: rgb(191, 191, 191);
            }

           

            :global(.ant-collapse-content) {
                border-radius: 0px !important;
            }
        }
        .headerPanel{
            display: grid;
            grid-template-columns: 1fr 1fr;

            .headerTitle{
                font-size: 18px;
            }

            .numbers{
                color: #7A7F86;
            }

            .rightBlock{
                display: flex;
                flex-direction: column;

                .numGroups{
                    display: flex;
                    gap: 4px;

                    .el{
                        height: 2px;
                        width: 10px;
                        background-color: #7A7F86;
                    }
                }
            }
        }
      }
      
  }
  
.headerTestCaseWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;

    .block{
        display: flex;
        gap: 8px;
        
        .title{
            color: #8b8e8c;
            font-size: 16px;
        }
        .time{
            color: #F7FCFF;
            font-size: 16px;
        }
    }
    .answer{
        color: #8b8e8c;
        font-size: 16px;
    }
   
  }

  .success{
    .block{
        .title{
            color: #00FF57;
            font-size: 16px;
        }
        .time{
            color: #F7FCFF;
            font-size: 16px;
        }
    }
        
    .answer{
        color: #00FF57;
        font-size: 16px;
    }
  }

  .failed{
    .title{
        color: #FF4949 !important;
    }
    .answer{
        color: #FF4949;
    }
}

